In [1]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv('/home/pirl/와인사업기획/wine-blind_추가.csv',encoding='euc-kr')
data.head()

   seq  gender  age  job  marital province    city choice1       side choice2
0    1  FEMALE  50대  직장인  MARREID      경기도     안양시       A    ricotta       C
1    2    MALE  30대  직장인  MARREID      경상도     거제시       F       Brie       E
2    3  FEMALE  50대  직장인  MARREID      부산시     사하구       A  Camenbert       F
3    4  FEMALE  50대  직장인  MARREID      경상도  포항시 북구       A      annon       A
4    5  FEMALE  30대  직장인  MARREID      부산시     기장군       G    Cheddar       B

In [10]:
data.groupby(["gender","age","job"])['choice1','province'].count()

                   choice1  province
gender age    job
FEMALE 20대    임시직       13        13
              자영업       39        39
              전문직       11        11
              직장인       27        27
              학생        29        29
       30대    임시직       24        24
              자영업       32        32
              전문직       41        41
              직장인       92        92
       40대    임시직       25        25
              자영업       28        28
              전문직       56        56
              직장인       93        93
       50대    임시직       21        21
              자영업       28        28
              전문직       55        55
              직장인       75        75
       60대 이상 임시직        1         1
              자영업        2         2
              전문직        1         1
       미상     전문직        1         1
MALE   20대    임시직        3         3
              자영업       26        26
              전문직       11        11
              직장인       17        17
              학생        19        19
       30대    임시직       11        11
              자영업       14        14
              전문직       16        16
              직장인       30        30
       40대    임시직       12        12
              자영업       14        14
              전문직       17        17
              직장인       45        45
       50대    임시직        9         9
              자영업        7         7
              전문직       21        21
              직장인       30        30
       60대 이상 임시직        2         2
              직장인        2         2